{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}
<h2>Add a new course or module.</h2> <br>

<form action="/add" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="course_name" placeholder="Course Name" type="text" required>
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" name="course_url" placeholder="Course Link" type="url">
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" name="desc" placeholder="Course Description" type="textarea" required>
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" name="topics" placeholder="Topics Covered (Comma Separated)" type="text" required>
    </div>
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" name="provider" placeholder="Course Provider" type="text" required>
    </div>

    <div class="mb-3">
        <select class="form-select mx-auto w-auto" name="completion" required>
            <option selected disabled hidden>Completion Status</option>
            <option value="2"><span class="green dot"></span> Completed</option>
            <option value="1"><span class="amber dot"></span> In Progress</option>
            <option value="0"><span class="red dot"></span>Not Started</option>
        </select>
    </div>

    <div class="mb-3">
        <select class="form-select mx-auto w-auto" name="type" required>
            <option selected disabled hidden>Course or Module</option>
            <option value="true">Online Course</option>
            <option value="false">University Module</option>
        </select>
    </div>

    <button class="btn btn-primary" type="submit">Add Entry</button>
</form>
{% endblock %}
