{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h1>Your {{ type }}.</h1>

    <br>

    <div class="course"> <!-- In div to match course containers width-->
        {% if type == "Courses" %}
        <form action="/" method="post">
        {% else %}
        <form action="/modules" method="post">
        {% endif %}
            <div class="mb-3 d-flex justify-content-between align-items-center">
                <select class="form-select flex-grow-1 me-2" name="sort_index">
                    <option selected disabled hidden>Refine Results</option>
                    <option value="name">Sort By Name</option>
                    <option value="provider">Sort By Provider</option>
                    <option value="completed">Prioritise Completed</option>
                    <option value="inProgress">Prioritise In Progress</option>
                    <option value="incomplete">Prioritise Not Started</option>
                    <option value="onlyCompleted">Only Show Completed</option>
                    <option value="hideCompleted">Hide Completed</option>
                </select>
                <button class="btn btn-primary flex-grow-1" type="submit">Refine</button> <br>
            </div>
        </form>

        <hr>
    </div>

    {% for course in courses %}
        <div class="course">

            <h2>
                {% if course[7] == 2 %}
                    <span class="green dot"></span>
                {% elif course[7] == 1 %}
                    <span class="amber dot"></span>
                {% else %}
                    <span class="red dot"></span>
                {% endif %}

                {% if course[3] %}
                    <a href="{{ course[3] }}" target="_blank">{{ course[2] }}</a>
                {% else %}
                    {{ course[2] }}
                {% endif %}
            </h2>
            <aside>{{ course[6] }}</aside>
            <p>
                {{ course[5] }} <br>
                <aside>{{ course[4] }}</aside>
            </p>

            {% if not loop.last %}
            <hr>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
