{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h1>Your {{ type }}.</h1>

    <br>

    <div class="course"> <!-- In div to match course containers width-->
        {% if type == "Courses" %}
        <form action="/" method="post">
        {% else %}
        <form action="/modules" method="post">
        {% endif %}

            <div class="mb-3">
                <select class="form-select mx-auto w-auto" name="sort_index" style="width: 100%; text-align: center;" required>
                    <option selected disabled hidden style="text-align: center;">Sort By</option>
                    <option value="name" style="text-align: center;">Name</option>
                    <option value="provider" style="text-align: center;">Provider</option>
                    <option value="completed" style="text-align: center;">Completed</option>
                    <option value="inProgress" style="text-align: center;">In Progress</option>
                    <option value="incomplete" style="text-align: center;">Not Started</option>
                </select>
            </div>
            <button class="btn btn-primary" type="submit">Sort</button>
        </form>

        <hr>
    </div>

    {% for course in courses %}
        <div class="course">

            <h2>
                {% if course[7] == 2 %}
                    <span class="green dot"></span>
                {% elif course[7] == 1 %}
                    <span class="amber dot"></span>
                {% else %}
                    <span class="red dot"></span>
                {% endif %}

                {% if course[3] %}
                    <a href="{{ course[3] }}" target="_blank">{{ course[2] }}</a>
                {% else %}
                    {{ course[2] }}
                {% endif %}
            </h2>
            <aside>{{ course[6] }}</aside>
            <p>
                {{ course[5] }} <br>
                <aside>{{ course[4] }}</aside>
            </p>

            {% if not loop.last %}
            <hr>
            {% endif %}
        </div>
    {% endfor %}

{% endblock %}
