{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h2>Update an existing course or module.</h2> <br>

    <form action="/update" method="post">
        <div class="mb-3">
            <select autofocus class="form-select mx-auto w-auto" name="course_name" required>
                <option selected disabled hidden>Course or Module Name</option>
                {% for name in names %}
                    <option value="{{ name[0] }}">{{ name[0] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" name="completion" required>
                <option selected disabled hidden>Completion Status</option>
                <option value="true">Completed</option>
                <option value="false">Not complete</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Update Entry</button>
    </form>
{% endblock %}
