{% extends "base.html" %}
{% block content %}

<div class="course-container">
    <div class="container-text">
        <h3>Add a New {{item_type}}</h3>
        <form method="post">
            <table style="width: 100%; margin: 10px 0;">
                {{ add_form.hidden_tag() }}
                {% for field in add_form %}
                    {% if field.type != "CSRFTokenField" %}
                    <tr>
                        <td style="width: 30%;">{{field.label.text}}</td>
                        <td style="width: 70%;">{{field(autocomplete="off")}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </form>
        <p><aside>All fields are required for this form.</aside></p>
    </div>
</div>

<div class="course-container">
    <div class="container-text">
        <h3>Modify {{item_type}}s</h3>
        <form method="post">
            {{ completed_form.hidden_tag() }}
            <p> Mark {{completed_form.completed()}} as {{completed_form.status()}} {{completed_form.submit()}}</p>
        </form>
    </div>
</div>

{% endblock %}