{% extends "base.html" %}
{% block content %}

<div class="course-container">
    <div class="container-text">
        <h3>Add a New Course</h3>
        <form method="post">
            <table style="width: 100%; margin: 10px 0;">
                {{ add_course.hidden_tag() }}
                {% for field in add_course %}
                    {% if field.type != "CSRFTokenField" %}
                    <tr>
                        <td style="width: 30%;">{{field.label.text}}</td>
                        <td style="width: 70%;">{{field(autocomplete="off")}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </form>
    </div>
</div>

<div class="course-container">
    <div class="container-text">
        <h3>Modify Online Courses</h3>
        <form method="post">
            {{ completed_course_form.hidden_tag() }}
            <p> Mark {{completed_course_form.completed_course()}} as {{completed_course_form.status()}} {{completed_course_form.submit()}}</p>
        </form>
    </div>
</div>

<div class="course-container">
    <div class="container-text">
        <h3>Modify University Modules</h3>
        <form method="post">
            {{ completed_module_form.hidden_tag() }}
            <p> Mark {{completed_module_form.completed_module()}} as {{completed_module_form.status()}} {{completed_course_form.submit()}}</p>
        </form>
    </div>
</div>

{% endblock %}