<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/style.css">
        <title>Course List</title>
    </head>
    <body id="base">
        <nav>
            <div class="course-container">
                <div class="container-text">
                    <h1>Course Progress Tracker <aside>- A Flask Web Application</aside></h1>
                </div>
                {% if current_user.is_authenticated %}
                    <div class="user-section">
                        <span>
                            <h5 style="display: inline;">{{ current_user.id }} |</h5>
                            <a href="/logout"><h5 style="display: inline;">Sign out?</h5></a>
                        </span>
                    </div>
                {% else %}
                    <div class="user-section">
                        <span>
                            <h5 style="display: inline;"><a href="/">Login</a> or </h5>
                            <h5 style="display: inline;"><a href="/register">Register New User</a></h5>
                        </span>
                    </div>
                {% endif %}
            </div>
            {% if current_user.is_authenticated %}
                <div class="nav-container">
                    <span>
                        <a href="/homepage">View Courses</a>
                        <a href="/add_course">Add or Modify a Course</a>
                        <a href="/learning_log">Learning Log</a>
                        <a href="/uni_modules">View University Modules</a>
                        <a href="/add_module">Add or Modify a Module</a>
                    </span>
                </div>
            {% endif %}
        </nav>
        
        <div id="main">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            <div class="course-container">
                <div class="container-text">
                    <h5>corey-richardson</h5>
                    <span>
                        <a href="https://linktr.ee/coreyrichardson">linktr.ee</a> |
                        <a href="https://github.com/corey-richardson">GitHub</a> |
                        <a href="https://github.com/corey-richardson/course-progress-tracker">Project Repository</a> |
                        <a href="https://www.linkedin.com/in/corey-richardson-833300247/">LinkedIn</a> |
                        <a href="https://github.com/corey-richardson/course-progress-tracker/blob/main/LICENSE">&COPY; {{year}} Corey Richardson</a>
                    </span>
                </div>
            </div>
        </footer>

    </body>
</html>