{% extends "base.html" %}
{% block content %}

<div class="course-container">
    <div class="container-text">
        <h3>Register a User:</h3>
        <form method="post">
            <table style="width: 100%; margin: 10px 0;">
                {{ register.hidden_tag() }}
                {% for field in register %}
                    {% if field.type != "CSRFTokenField" %}
                    <tr>
                        <td style="width: 30%;">{{field.label.text}}</td>
                        <td style="width: 70%;">{{field(autocomplete="off")}}</td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </form>
        <p><aside>Don't use your real password here please.</aside></p>
        
        <p><aside>
            {% for errors in register.errors%}
                {% for err in register.errors[errors] %}
                    {{err}}
                    {% if not loop.last %}|{% endif %}
                {% endfor %}
                {% if not loop.last %}|{% endif %}
            {% endfor %}
        </aside></p>
    </div>
</div>

{% endblock %}