{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h1>Drop an entry.</h1> <br>
    <form action="/drop" method="post">
        <div class="mb-3">
            <select autofocus class="form-select mx-auto w-auto" name="course_name" required>
                <option selected disabled hidden>Course or Module Name</option>
                {% for name in names %}
                    <option value="{{ name[0] }}">{{ name[0] }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Drop Entry</button>
    </form>
{% endblock %}
